html *
{
  font-family: 'Space Mono', monospace !important;
  color: white;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container-1 {
  display: flex;
  flex-flow: wrap;

  background-color: #303030;
}

.box {
  flex: 1 0 21%;
  min-width: 270px;
  min-height: 220px;
  padding: 5px;
  padding-left: 25px;
  display: flex;
  align-items: right;
  border: thin solid darkgray;
}

.placeholder {
  flex: 1 0 21%;
  min-width: 270px;
  padding: 5px;
  padding-left: 10px;
  background-color: white;
}

.profile {
  flex: 1;
  min-width: 270px;
  background-color: #303030;

}

.inner-profile {
  padding-left: 20px;
  padding-right: 30px;
  padding-bottom: 40px;
  border: thin solid darkgray;
}

.profile-picture {
  border-radius: 50%;
}

.welcome-header {
  background-color: #303030;
  padding: 20px;
}

.instruciton-h1{
  padding-bottom: 15px;
}

.instructions {
  color: black;
  height: 100%;
  line-height: 180%;
}

.highlighted-header {
  background-color: #303030;
  padding: 20px;
}

.box-highlighted{
  width: 100%;
  height: 100%;
  margin: 0px;
  text-size: 32px;
}

.highlighted {
  width:100%;
}

.supertitle {
  margin-top: 0px;
  margin-bottom: 5px;
  padding-right: 30px;
}

.title {
  margin-top: 5px;
  padding-right: 30px;
}

.subtitle {
  margin-top: 5px;
  margin-bottom: 5px;
  padding-right: 30px;
}

.hashtags {
  padding-right: 30px;
  font-size: 12px;
  margin-bottom: 10px;
}

.content {
  padding: 0em;
}

.box:not(:last-child) {
  margin-bottom: 0em;
}

.group {
  width: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.group span {
  white-space: nowrap;
  transform: rotate(-90deg);
}