{% extends "index.html" %}
{% block body %}
<script type="text/javascript"
         src="{{ url_for('static', filename='portfolio.js') }}"></script>
<link rel="stylesheet" href='/static/style.css' />

<body onresize="adjust_box_size()" onload="adjust_box_size()">
<div class="container-1">
  <div class="profile">
    <div class="inner-profile">
    <h5 class="personal">PERSONAL INFO</h5>
    {% set profile = portfolio.person %}
    <br>
    <img class="profile-picture" src="{{ profile.image }}" alt="{{ profile.name }}">
    <h1>
      {{ profile.name }}
    </h1>
    <h3 class="birth">{{ profile.birth }} ({{profile.nation}})</h3>
    <br>
    <h4 class="contact">Contact information</h4>
    {% for key, value in profile.contact_info.items() %}
      {% set value_is_link = value[:4] == "http" %}
        {% if value_is_link %}
          <a href="{{ value }}" target="_blank">
          {{ key }}
          </a>
        {% else %}
          {{ key }}: {{ value}}
        {% endif %}
        <br>
    {% endfor %}
    <br>
    <h4>Languages</h4>
    {% for key, value in profile.languages.items() %}
      {{ key }}: {{ value }}<br>
    {% endfor %}
    <br>
    <h4>Hobbies</h4>
    {% for tag in profile.hobbies %}
      <a class="hashtag"
         onmouseover="hashtag_mouseover(this)" ontouchstart="hashtag_mouseover(this)"
         onmouseout="hashtag_mouseout(this)" ontouchend="hashtag_mouseout(this)" ontouchcancel="hashtag_mouseout(this)"
         onclick="hashtag_clicked(this)"
         style="cursor: pointer;">
        #{{ tag }}
      </a>
    {% endfor %}
  </div>
  </div>
  <div class="highlighted">
    <h1 class="welcome-header">Welcome to Pyfolio!</h1>
    {# Show the highlighted project in the highlighting area #}
    {% for project in portfolio.projects if project.highlighted %}
      {% set group = portfolio.groups[project.group] %}
      {% set bg_color = group.bg_color %}
      <div id="box-highlighted" class="box box-highlighted"
        style="background-color:{{ randomize_color(bg_color, 20) }};
               color:{{ group.text_color }};
               ">

        <div class="content">
          {% if project.supertitle is defined %}
            <h2 class="supertitle">{{ project.supertitle }}</h2>
          {% else %}
            <h2 class="supertitle">.</h2>
          {% endif %}

          {% set link_available = project.link != None and project.link is defined %}
          <h1 class="title">
            {% if link_available %}
              <a href="{{ project.link }}" target="_blank" style="color:white;">
            {% endif %}
            {{ project.title }}
            {% if link_available %}
              </a>
            {% endif %}
          </h1>

          {% if project.subtitle is defined %}
            <h2 class="subtitle">{{ project.subtitle }}</h2>
          {% endif %}
          <div class="hashtags">
            {% for tag in project.tags %}
              <a class="hashtag"
                 onmouseover="hashtag_mouseover(this)" ontouchstart="hashtag_mouseover(this)"
                 onmouseout="hashtag_mouseout(this)" ontouchend="hashtag_mouseout(this)" ontouchcancel="hashtag_mouseout(this)"
                 onclick="hashtag_clicked(this)"
                 style="cursor: pointer; font-size: 24px">
                #{{ tag }}
              </a>
            {% endfor %}
          </div>
          <br>
          <h1><mark class="instructions">Click on a #hashtag to filter the cards below,
          click the #hashtag again to remove the filter. Click the link in a card's title to view additional info.</mark></h1>
        </div>
        <div class="group">
          <span>{{ project.group }}</span>
        </div>
        <h3></h3>
      </div>
    {% endfor %}
  </div>
</div>
<div class="container-1">
  {% for project in portfolio.projects %}
    {% set group = portfolio.groups[project.group] %}
    {% set bg_color = group.bg_color %}
    <div id="box{{ loop.index }}" class="box box-{{ loop.index }}"
         style="background-color:{{ randomize_color(bg_color, 20) }};
                color:{{ group.text_color }}; width: 100%;">
      <div class="content">
        {% if project.supertitle is defined %}
          <h5 class="supertitle">{{ project.supertitle }}</h5>
        {% else %}
          <h5 class="supertitle">.</h5>
        {% endif %}

        {% set link_available = project.link != None and project.link is defined %}
        <h4 class="title">
          {% if link_available %}
            <a href="{{ project.link }}" target="_blank" style="color:white;">
          {% endif %}
          {{ project.title }}
          {% if link_available %}
            </a>
          {% endif %}
        </h4>

        {% if project.subtitle is defined %}
          <h5 class="subtitle">{{ project.subtitle }}</h5>
        {% endif %}
        <div class="hashtags">
          {% for tag in project.tags %}
          <a class="hashtag"
             onmouseover="hashtag_mouseover(this)" ontouchstart="hashtag_mouseover(this)"
             onmouseout="hashtag_mouseout(this)" ontouchend="hashtag_mouseout(this)" ontouchcancel="hashtag_mouseout(this)"
             onclick="hashtag_clicked(this)"
             style="cursor: pointer;">
            #{{ tag }}
          </a>
          {% endfor %}
        </div>
      </div>
      <div class="group">
        <span>{{ project.group }}</span>
      </div>
    </div>
  {% endfor %}
  {% for placeholder in range(3) %}
    <div class="placeholder"></div>
  {% endfor %}
</div>
</body>
{% endblock %}
